//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    version = false
    wfversion = "v0.0.1"

    out_dir = "output"
    store_dir = "store_dir"

    sample_id = null
    fastq = null
    metadata = null

    database = null
    taxonomy = null
    bracken_dist = null
    bracken_length = null
    bracken_level = 'S'
    database_set = "Viral"
    database_sets = [
        'Viral': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_viral_20221209.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ],
        'EuPath': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_eupathdb48_20201113.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ],
        'PlusPF-8': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_pluspf_8gb_20210517.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ]
    ]

    kraken_assignments = null
    manifest = "test/ref/manifest.txt"
    preset="map-ont"
    max_human_reads_before_rejection = 1000










    disable_ping = false
    threads = 2
    port = 8080
    process_label = "scylla"
    monochrome_logs = false

    validate_params = true
    show_hidden_params = false

    analyse_unclassified = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,pangolin_version,wfversion,wf,process_label'

    wf {
      example_cmd = [
          "--fastq test_data/barcode01/reads.fastq.gz",
      ]
      agent = null
      container_sha = "sha156f44a25dd22e39eb10e82d12e0584d41dde909"
    }
}


manifest {
    name            = 'snowy-leopard/scylla'
    author          = 'Snowy Leopard'
    homePage        = 'https://github.com/snowy-leopard/scylla'
    description     = 'Classify metagenomic sequence data from human respiratory infections.'
    mainScript      = 'ingest.nf'
    nextflowVersion = '>=20.10.0'
    version         = 'v0.0.1'
}


executor {
    $local {
        cpus = 8
        memory = "8 GB"
    }
}

// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:scylla {
        container = "ontresearch/wf-metagenomics:${params.wf.container_sha}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}


profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }


    conda {
        conda.enabled = true
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}


report {
  enabled = true
  file = "${params.out_dir}/execution/report.html"
}