params {
    // Boilerplate options
    tracedir                         = "${params.outdir}/${params.unique_id}/pipeline_info"

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                       = '128.GB'
    max_cpus                         = 16
    max_time                         = '240.h'

    reject_human                     = true
    max_human_reads_before_rejection = 10000
}
