params {
    // Boilerplate options
    tracedir                   = "${params.outdir}/${params.unique_id}/pipeline_info"
    timeline.file              = "${params.tracedir}/execution_timeline_${params.unique_id}.html"
    report.file                = "${params.tracedir}/execution_report_${params.unique_id}.html"
    trace.file                 = "${params.tracedir}/execution_trace_${params.unique_id}.txt"
    dag.file                   = "${params.tracedir}/pipeline_dag_${params.unique_id}.html"

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    k2_port = 8080
    k2_host = "10.1.185.58"

    taxonomy = "/shared/public/db/taxonomy/"
    database = "/shared/public/db/kraken2/k2_pluspf/"
    database_set = "PlusPF"
}