params {
    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                       = '14.GB'
    max_cpus                         = 4
    max_time                         = '48.h'

    sourmash_db_includes             = "viral fungi"
    centrifuge_db_name               = "p_compressed+h+v"
    centrifuge_remote                = "https://genome-idx.s3.amazonaws.com/centrifuge/p_compressed%2Bh%2Bv.tar.gz"

    kraken_database                  = [
        "default": [
            "name": "PlusPF-8",
            "path": null,
            "host": "localhost",
            "port": 8080,
        ],
        "viral": [
            "name": "Viral",
            "path": null,
            "host": "localhost",
            "port": 8081,
        ],
    ]
    raise_server                     = true

    reject_human                     = false
    max_human_reads_before_rejection = 100

    run_viral_reclassification       = false
}