params {
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null

    // Boilerplate options
    outdir                     = null
    tracedir                   = "${params.outdir}/pipeline_info"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    help = false
    version = false
    wfversion = "v0.0.1"

    out_dir = "output"
    store_dir = "store_dir"

    unique_id = null
    fastq = null
    fastq1 = null
    fastq2 = null
    fastq_dir = null
    metadata = null

    database = null
    taxonomy = null
    bracken_dist = null
    bracken_length = null
    bracken_level = 'S'
    database_set = "Viral"

    kraken_report = null
    bracken_report = null
    kraken_assignments = null
    assembly_rank="S G"
    assembly_min_reads = 10
    assembly_min_percent = 1
    max_human_reads_before_rejection = 1000
    read_type = "illumina"

    disable_ping = false
    threads = 2
    k2_port = 8080
    k2_host = 'localhost'
    port = 8080
    process_label = "scylla"
    monochrome_logs = false
    paired = false
    taxonomy_dir = "/shared/public/db/taxonomy/"

    validate_params = true
    show_hidden_params = false

    analyse_unclassified = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,pangolin_version,wfversion,wf,process_label'

    wf {
      example_cmd = [
          "--fastq test_data/barcode01/reads.fastq.gz",
      ]
      agent = null
      container_sha = "sha256:4ff33113bd8f0b87ca971ec1e313d8e022b6131829fdd33694d490b399254f9f"
    }
}