def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

params {
    // TODO nf-core: Specify your pipeline's command line flags
    // Input options
    input                      = null

    // Boilerplate options
    outdir                     = "output"
    tracedir                   = "${params.outdir}/pipeline_info/${trace_timestamp}"
    publish_dir_mode           = 'copy'
    email                      = null
    email_on_fail              = null
    plaintext_email            = false
    monochrome_logs            = false
    hook_url                   = null
    help                       = false
    version                    = false
    validate_params            = true
    show_hidden_params         = false
    schema_ignore_params       = 'genomes'

    // Max resource options
    // Defaults only, expecting to be overwritten
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'

    help = false
    version = false
    wfversion = "v0.0.1"

    store_dir = "store_dir"

    climb = false
    local = false
    raise_server = false

    unique_id = null
    fastq = null
    fastq1 = null
    fastq2 = null
    fastq_dir = null
    run_dir = null
    metadata = null

    read_type = null
    paired = false

    database = null
    taxonomy = null
    bracken_dist = null
    bracken_length = null
    bracken_level = 'S'
    database_set = "Viral"
    database_sets = [
        'Viral': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_viral_20230605.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz',
        ],
        'MinusB': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_minusb_20230605.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ],
        'EuPath': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_eupathdb48_20230407.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ],
        'Standard': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_standard_20230605.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ],
        'PlusPF-8': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_pluspf_08gb_20230605.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ],
        'PlusPF-16': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_pluspf_16gb_20230605.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ],
        'PlusPF': [
            'database': 'https://genome-idx.s3.amazonaws.com/kraken/k2_pluspf_20230605.tar.gz',
             'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ],
        'ncbi_16s_18s': [
            'database': 'https://ont-exd-int-s3-euwst1-epi2me-labs.s3.amazonaws.com/wf-metagenomics/ncbi_16s_18s/ncbi_targeted_loci_kraken2.tar.gz',
            'taxonomy': 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'
        ]
    ]

    kraken_report = null
    bracken_report = null
    kraken_assignments = null
    run_bracken = false
    additional_bracken_jsons = null
    default_taxonomy = 'https://ftp.ncbi.nlm.nih.gov/pub/taxonomy/taxdump.tar.gz'

    kreport_splits = "Bacteria Viruses Metazoa"
    extract_rank="S"
    extract_thresholds = [
        'Viruses': [
            "min_reads": 2,
            "min_percent": 0
        ],
        'Metazoa': [
            "min_reads": 100,
            "min_percent": 100
        ],
        'Bacteria': [
            "min_reads": 10,
            "min_percent": 1
        ],
        'default': [
            "min_reads": 5,
            "min_percent": 0
        ]
    ]
    reject_human = false
    max_human_reads_before_rejection = 5000
    taxid_human = 9604

    run_sourmash = false
    sourmash_database = null
    sourmash_remote = 'https://farm.cse.ucdavis.edu/~ctbrown/sourmash-db/genbank-2022.03/genbank-2022.03'
    sourmash_db_name = "genbank-2022.03"
    sourmash_db_includes = "viral archaea bacteria protozoa fungi"
    sourmash_k = 31
    sourmash_threshold_bp = 50000

    assembler = null
    classifier = "virbot"
    genomad_db = null

    disable_ping = false
    threads = 2
    server_threads = 2
    kraken_clients = 2
    k2_port = 8080
    k2_host = 'localhost'
    process_label = "scylla"
    monochrome_logs = false

    validate_params = true
    show_hidden_params = false

    analyse_unclassified = false
    classify_novel_viruses = false
    write_assembly_stats = true
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,pangolin_version,wfversion,wf,process_label'

    wf {
      example_cmd = [
          "--fastq test_data/barcode01/reads.fastq.gz",
      ]
      agent = null
      container = "biowilko/scylla"
      container_version = "1.1.1"
    }
}